Src/java/engine/src/main/cql-lm/schema/common/quick-datatypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://hl7.org/fhir" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir">
	<xs:element name="Address" type="Address"/>
	<xs:complexType name="Address">
		<xs:complexContent>
			<xs:extension base="Structure">
				<xs:sequence>
					<xs:element name="use" type="code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="text" type="string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="line" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="city" type="string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="state" type="string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="zip" type="string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="country" type="string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="period" type="Period" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Age" type="Age"/>
	<xs:complexType name="Age">
		<xs:complexContent>
			<xs:extension base="Quantity">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Attachment" type="Attachment"/>
	<xs:complexType name="Attachment">
		<xs:complexContent>
			<xs:extension base="Type">
				<xs:sequence>
					<xs:element name="contentType" type="code" minOccurs="1" maxOccurs="1"/>
					<xs:element name="language" type="code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="data" type="base64Binary" minOccurs="0" maxOccurs="1"/>
					<xs:element name="url" type="uri" minOccurs="0" maxOccurs="1"/>
					<xs:element name="size" type="integer" minOccurs="0" maxOccurs="1"/>
					<xs:element name="hash" type="base64Binary" minOccurs="0" maxOccurs="1"/>
					<xs:element name="title" type="string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CodeableConcept" type="CodeableConcept"/>
	<xs:complexType name="CodeableConcept">
		<xs:complexContent>
			<xs:extension base="Type">
				<xs:sequence>
					<xs:element name="coding" type="Coding" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="text" type="string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Coding" type="Coding"/>
	<xs:complexType name="Coding">
		<xs:complexContent>
			<xs:extension base="Type">
				<xs:sequence>
					<xs:element name="system" type="uri" minOccurs="0" maxOccurs="1"/>
					<xs:element name="version" type="string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="code" type="code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="display" type="string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="primary" type="boolean" minOccurs="0" maxOccurs="1"/>
					<xs:element name="valueSet" type="uri" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Contact" type="Contact"/>
	<xs:complexType name="Contact">
		<xs:complexContent>
			<xs:extension base="Structure">
				<xs:sequence>
					<xs:element name="system" type="code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="value" type="string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="use" type="code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="period" type="Period" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Count" type="Count"/>
	<xs:complexType name="Count">
		<xs:complexContent>
			<xs:extension base="Quantity">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Distance" type="Distance"/>
	<xs:complexType name="Distance">
		<xs:complexContent>
			<xs:extension base="Quantity">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Duration" type="Duration"/>
	<xs:complexType name="Duration">
		<xs:complexContent>
			<xs:extension base="Quantity">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Element" type="Element"/>
	<xs:complexType name="Element">
		<xs:sequence>
			<xs:element name="extension" type="Extension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" use="optional" type="uri-primitive"/>
	</xs:complexType>
	<xs:element name="Extension" type="Extension"/>
	<xs:complexType name="Extension">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="1">
						<xs:element name="valueBoolean" type="boolean" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueInteger" type="integer" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueDecimal" type="decimal" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueBase64Binary" type="base64Binary" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueInstant" type="instant" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueString" type="string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueUri" type="uri" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueDate" type="date" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueDateTime" type="dateTime" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueCode" type="code" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueAttachment" type="Attachment" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueIdentifier" type="Identifier" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueCodeableConcept" type="CodeableConcept" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueCoding" type="Coding" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueQuantity" type="Quantity" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueRange" type="Range" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valuePeriod" type="Period" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueRatio" type="Ratio" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueResource" type="ResourceReference" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueSampledData" type="SampledData" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueHumanName" type="HumanName" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueAddress" type="Address" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueContact" type="Contact" minOccurs="1" maxOccurs="1"/>
						<xs:element name="valueSchedule" type="Schedule" minOccurs="1" maxOccurs="1"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="url" use="optional" type="uri-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="HumanName" type="HumanName"/>
	<xs:complexType name="HumanName">
		<xs:complexContent>
			<xs:extension base="Structure">
				<xs:sequence>
					<xs:element name="use" type="code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="text" type="string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="family" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="given" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="prefix" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="suffix" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="period" type="Period" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Identifier" type="Identifier"/>
	<xs:complexType name="Identifier">
		<xs:complexContent>
			<xs:extension base="Type">
				<xs:sequence>
					<xs:element name="system" type="uri" minOccurs="0" maxOccurs="1"/>
					<xs:element name="id" type="string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Money" type="Money"/>
	<xs:complexType name="Money">
		<xs:complexContent>
			<xs:extension base="Quantity">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Period" type="Period"/>
	<xs:complexType name="Period">
		<xs:complexContent>
			<xs:extension base="Type">
				<xs:sequence>
					<xs:element name="start" type="dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="end" type="dateTime" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Quantity" type="Quantity"/>
	<xs:complexType name="Quantity">
		<xs:complexContent>
			<xs:extension base="Type">
				<xs:sequence>
					<xs:element name="value" type="decimal" minOccurs="0" maxOccurs="1"/>
					<xs:element name="comparator" type="code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="units" type="string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="system" type="uri" minOccurs="0" maxOccurs="1"/>
					<xs:element name="code" type="code" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Range" type="Range"/>
	<xs:complexType name="Range">
		<xs:complexContent>
			<xs:extension base="Type">
				<xs:sequence>
					<xs:element name="low" type="Quantity" minOccurs="0" maxOccurs="1"/>
					<xs:element name="high" type="Quantity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Ratio" type="Ratio"/>
	<xs:complexType name="Ratio">
		<xs:complexContent>
			<xs:extension base="Type">
				<xs:sequence>
					<xs:element name="numerator" type="Quantity" minOccurs="0" maxOccurs="1"/>
					<xs:element name="denominator" type="Quantity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Repeat" type="Repeat"/>
	<xs:complexType name="Repeat">
		<xs:sequence>
			<xs:element name="frequency" type="integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="when" type="code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="duration" type="decimal" minOccurs="1" maxOccurs="1"/>
			<xs:element name="units" type="code" minOccurs="1" maxOccurs="1"/>
			<xs:element name="count" type="integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="end" type="dateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResourceReference" type="ResourceReference"/>
	<xs:complexType name="ResourceReference">
		<xs:complexContent>
			<xs:extension base="Type">
				<xs:sequence>
					<xs:element name="reference" type="string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="display" type="string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SampledData" type="SampledData"/>
	<xs:complexType name="SampledData">
		<xs:complexContent>
			<xs:extension base="Type">
				<xs:sequence>
					<xs:element name="origin" type="Quantity" minOccurs="1" maxOccurs="1"/>
					<xs:element name="period" type="decimal" minOccurs="1" maxOccurs="1"/>
					<xs:element name="factor" type="decimal" minOccurs="1" maxOccurs="1"/>
					<xs:element name="lowerLimit" type="decimal" minOccurs="0" maxOccurs="1"/>
					<xs:element name="upperLimit" type="decimal" minOccurs="0" maxOccurs="1"/>
					<xs:element name="dimensions" type="integer" minOccurs="1" maxOccurs="1"/>
					<xs:element name="data" type="string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Schedule" type="Schedule"/>
	<xs:complexType name="Schedule">
		<xs:complexContent>
			<xs:extension base="Structure">
				<xs:sequence>
					<xs:element name="event" type="Period" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="repeat" type="Repeat" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Structure" type="Structure"/>
	<xs:complexType name="Structure">
		<xs:complexContent>
			<xs:extension base="Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Type" type="Type"/>
	<xs:complexType name="Type" abstract="true">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="base64Binary" type="base64Binary"/>
	<xs:complexType name="base64Binary">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
				<xs:attribute name="value" use="optional" type="base64Binary-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="base64Binary-primitive">
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:element name="boolean" type="boolean"/>
	<xs:complexType name="boolean">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
				<xs:attribute name="value" use="optional" type="boolean-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="boolean-primitive">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:element name="code" type="code"/>
	<xs:complexType name="code">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
				<xs:attribute name="value" use="optional" type="code-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="code-primitive">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="date" type="date"/>
	<xs:complexType name="date">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
				<xs:attribute name="value" use="optional" type="date-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="date-primitive">
		<xs:restriction base="date-union">
			<xs:pattern value="\d{4}(\-\d{2}(\-\d{2})?)?(Z|(\+|\-)\d{2}:\d{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="date-union">
		<xs:annotation>
			<xs:documentation>Fhir Date Union of gYear, gYearMonth, date</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:gYear xs:gYearMonth xs:date"/>
	</xs:simpleType>
	<xs:element name="dateTime" type="dateTime"/>
	<xs:complexType name="dateTime">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
				<xs:attribute name="value" use="optional" type="dateTime-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="dateTime-primitive">
		<xs:restriction base="dateTime-union">
			<xs:pattern value="\d{4}(\-\d{2}(\-\d{2}(T\d{2}(:\d{2}(:\d{2}(\.\d+)?)?)?)?)?)?(Z|(\+|\-)\d{2}:\d{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dateTime-union">
		<xs:annotation>
			<xs:documentation>Fhir DateTime Union of gYear, gYearMonth, dateTime, date</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date xs:gYear xs:gYearMonth xs:dateTime"/>
	</xs:simpleType>
	<xs:element name="decimal" type="decimal"/>
	<xs:complexType name="decimal">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
				<xs:attribute name="value" use="optional" type="decimal-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="decimal-primitive">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:element name="id" type="id"/>
	<xs:complexType name="id">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
				<xs:attribute name="value" use="optional" type="id-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="id-primitive">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-z0-9\-\.]{1,36}"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="instant" type="instant"/>
	<xs:complexType name="instant">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
				<xs:attribute name="value" use="optional" type="dateTime-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="instant-primitive">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:element name="integer" type="integer"/>
	<xs:complexType name="integer">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
				<xs:attribute name="value" use="optional" type="integer-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="integer-primitive">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:element name="oid" type="oid"/>
	<xs:complexType name="oid">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
				<xs:attribute name="value" use="optional" type="oid-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="oid-primitive">
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="urn:oid:(0|[1-9][0-9]*)(\.(0|[1-9][0-9]*))*"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="string" type="string"/>
	<xs:complexType name="string">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
				<xs:attribute name="value" use="optional" type="string-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="string-primitive">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="uri" type="uri"/>
	<xs:complexType name="uri">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
				<xs:attribute name="value" use="optional" type="uri-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="uri-primitive">
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
	<xs:element name="uuid" type="uuid"/>
	<xs:complexType name="uuid">
		<xs:complexContent>
			<xs:extension base="Element">
				<xs:sequence/>
				<xs:attribute name="value" use="optional" type="uuid-primitive"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="uuid-primitive">
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="urn:uuid:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
