Src/java/quick/schema/oralhealthclaim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2011+, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Sat, Nov 22, 2014 01:27+0000 for FHIR v0.3.0 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="0.3.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="OralHealthClaim" type="OralHealthClaim">
    <xs:annotation>
      <xs:documentation>A provider issued list of services and products provided, or to be provided, to a patient which is provided to an insurer for payment recovery.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="OralHealthClaim">
    <xs:annotation>
      <xs:documentation>A provider issued list of services and products provided, or to be provided, to a patient which is provided to an insurer for payment recovery.</xs:documentation>
      <xs:documentation>If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DomainResource">
        <xs:sequence>
          <xs:element name="identifier" minOccurs="0" maxOccurs="1" type="Identifier">
            <xs:annotation>
              <xs:documentation>The business identifier for the instance: invoice number, claim number, pre-determination or pre-authorization number.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="ruleset" minOccurs="0" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>The version of the specification on which this instance relies.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="originalRuleset" minOccurs="0" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>The version of the specification from which the original instance was created.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="date" minOccurs="0" maxOccurs="1" type="date">
            <xs:annotation>
              <xs:documentation>The date when the enclosed suite of services were performed or completed.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="target" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>Insurer Identifier, typical BIN number (6 digit).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="provider" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>The provider which is responsible for the bill, claim pre-determination, pre-authorization.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="organization" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>The organization which is responsible for the bill, claim pre-determination, pre-authorization.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="use" minOccurs="0" maxOccurs="1" type="Use">
            <xs:annotation>
              <xs:documentation>Complete (Bill or Claim), Proposed (Pre-Authorization), Exploratory (Pre-determination).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="priority" minOccurs="0" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>Immediate (STAT), best effort (NORMAL), deferred (DEFER).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="fundsReserve" minOccurs="0" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>In the case of a Pre-Determination/Pre-Authorization the provider may request that funds in the amount of the expected Benefit be reserved ('Patient' or 'Provider') to pay for the Benefits determined on the subsequent claim(s). 'None' explicitly indicates no funds reserving is requested.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="enterer" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>Person who created the invoice/claim/pre-determination or pre-authorization.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="facility" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>Facility where the services were provided.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="payee" type="OralHealthClaim.Payee" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Theparty to be reimbused for the services.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="referral" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>The referral resource which lists the date, practitioner, reason and other supporting information.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="diagnosis" type="OralHealthClaim.Diagnosis" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Ordered list of patient diagnosis for which care is sought.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="condition" minOccurs="0" maxOccurs="unbounded" type="Coding">
            <xs:annotation>
              <xs:documentation>List of patient conditions for which care is sought.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="patient" minOccurs="1" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>Patient Resource.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="coverage" type="OralHealthClaim.Coverage" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Financial instrument by which payment information for health care.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="exception" minOccurs="0" maxOccurs="unbounded" type="Coding">
            <xs:annotation>
              <xs:documentation>Factors which may influence the applicability of coverage.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="school" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Name of school for over-aged dependants.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="accident" minOccurs="0" maxOccurs="1" type="date">
            <xs:annotation>
              <xs:documentation>Date of an accident which these services are addessing.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="accidentType" minOccurs="0" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>Type of accident: work, auto, etc.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="interventionException" minOccurs="0" maxOccurs="unbounded" type="Coding">
            <xs:annotation>
              <xs:documentation>A list of intervention and exception codes which may influence the adjudication of the claim.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="missingteeth" type="OralHealthClaim.Missingteeth" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>A list of teeth which would be expected but are not found due to having been previously  extracted or for other reasons.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="orthoPlan" type="OralHealthClaim.OrthoPlan" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The highlevel detail sof an Orthodonic Treatment Plan.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="item" type="OralHealthClaim.Item" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>First tier of goods and services.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="additionalMaterials" minOccurs="0" maxOccurs="unbounded" type="Coding">
            <xs:annotation>
              <xs:documentation>Code to indicate that Xrays, images, emails, documents, models or attachments are being sent in support of this submission.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OralHealthClaim.Payee">
    <xs:annotation>
      <xs:documentation>A provider issued list of services and products provided, or to be provided, to a patient which is provided to an insurer for payment recovery.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="type" minOccurs="0" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>Party to be reimbursed: Subscriber, provider, other.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="provider" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>The provider who is to be reimbursed for the claim (the party to whom any benefit is assigned).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="organization" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>The organization who is to be reimbursed for the claim (the party to whom any benefit is assigned).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="person" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>The person other than the subscriber who is to be reimbursed for the claim (the party to whom any benefit is assigned).</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OralHealthClaim.Diagnosis">
    <xs:annotation>
      <xs:documentation>A provider issued list of services and products provided, or to be provided, to a patient which is provided to an insurer for payment recovery.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="sequence" minOccurs="1" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation>Sequence of diagnosis.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="diagnosis" minOccurs="1" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>The diagnosis.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OralHealthClaim.Coverage">
    <xs:annotation>
      <xs:documentation>A provider issued list of services and products provided, or to be provided, to a patient which is provided to an insurer for payment recovery.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="sequence" minOccurs="1" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation>A service line item.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="focal" minOccurs="1" maxOccurs="1" type="boolean">
            <xs:annotation>
              <xs:documentation>The instance number of the Coverage which is the focus for adjudication, that is the Coverage to which the claim is to be adjudicated against.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="coverage" minOccurs="1" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>Reference to the program or plan identification, underwriter or payor.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="businessArrangement" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>The contract number of a business agrement which describes the terms and conditions.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="relationship" minOccurs="1" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>The relationship of the patient to the subscriber.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="preauthref" minOccurs="0" maxOccurs="unbounded" type="string">
            <xs:annotation>
              <xs:documentation>A list of references from the Insurer to which these services pertain.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="claimResponse" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>The Coverages adjudication details.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="originalRuleset" minOccurs="0" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>The style (standard) and version of the original material which was converted into this resource.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OralHealthClaim.Missingteeth">
    <xs:annotation>
      <xs:documentation>A provider issued list of services and products provided, or to be provided, to a patient which is provided to an insurer for payment recovery.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="tooth" minOccurs="1" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>The code identifying which tooth is missing.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="reason" minOccurs="0" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>Missing reason may be: E-extraction, O-other.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="extractiondate" minOccurs="0" maxOccurs="1" type="date">
            <xs:annotation>
              <xs:documentation>The date of the extraction either known from records or patient reported estimate.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OralHealthClaim.OrthoPlan">
    <xs:annotation>
      <xs:documentation>A provider issued list of services and products provided, or to be provided, to a patient which is provided to an insurer for payment recovery.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="start" minOccurs="0" maxOccurs="1" type="date">
            <xs:annotation>
              <xs:documentation>The intended start date for service.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="examFee" minOccurs="0" maxOccurs="1" type="Money">
            <xs:annotation>
              <xs:documentation>The estimated first examination fee.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="diagnosticFee" minOccurs="0" maxOccurs="1" type="Money">
            <xs:annotation>
              <xs:documentation>The estimated diagnostic fee.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="initialPayment" minOccurs="0" maxOccurs="1" type="Money">
            <xs:annotation>
              <xs:documentation>The estimated initial payment.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="durationMonths" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation>The estimated treatment duration in months.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="paymentCount" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation>The anticipated number of payments.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="periodicPayment" minOccurs="0" maxOccurs="1" type="Money">
            <xs:annotation>
              <xs:documentation>The anticipated payment amount.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OralHealthClaim.Item">
    <xs:annotation>
      <xs:documentation>A provider issued list of services and products provided, or to be provided, to a patient which is provided to an insurer for payment recovery.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="sequence" minOccurs="1" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation>A service line number.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>The type of product or service.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="provider" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>The practitioner who is responsible for the services rendered to the patient.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="service" minOccurs="1" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>If a grouping item then 'GROUP' otherwise it is a node therefore a code to indicate the Professional Service or Product supplied.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="serviceDate" minOccurs="0" maxOccurs="1" type="date">
            <xs:annotation>
              <xs:documentation>The date when the enclosed suite of services were performed or completed.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="quantity" minOccurs="0" maxOccurs="1" type="Quantity">
            <xs:annotation>
              <xs:documentation>The number of repetitions of a service or product.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="unitPrice" minOccurs="0" maxOccurs="1" type="Money">
            <xs:annotation>
              <xs:documentation>If the item is a node then this is the fee for the product or service, otherwise this is the total of the fees for the children of the group.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="factor" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation>A real number that represents a multiplier used in determining the overall value of services delivered and/or goods received. The concept of a Factor allows for a discount or surcharge multiplier to be applied to a monetary amount.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="points" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation>An amount that expresses the weighting (based on difficulty, cost and/or resource intensiveness) associated with the good or service delivered. The concept of Points allows for assignment of point values for services and/or goods, such that a monetary amount can be assigned to each point.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="net" minOccurs="0" maxOccurs="1" type="Money">
            <xs:annotation>
              <xs:documentation>The quantity times the unit price for an addtional service or product or charge. For example, the formula: unit Quantity * unit Price (Cost per Point) * factor Number  * points = net Amount. Quantity, factor and points are assumed to be 1 if not supplied.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="udi" minOccurs="0" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>List of Unique Device Identifiers associated with this line item.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="bodySite" minOccurs="0" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>Physical service site on the patient (limb, tooth, etc).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="subsite" minOccurs="0" maxOccurs="unbounded" type="Coding">
            <xs:annotation>
              <xs:documentation>A region or surface of the site, eg. limb region or tooth surface(s).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="modifier" minOccurs="0" maxOccurs="unbounded" type="Coding">
            <xs:annotation>
              <xs:documentation>Item typification or modifiers codes, eg for Oral whether the treatment is cosmetic or associated with TMJ, or an appliance was lost or stolen.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="detail" type="OralHealthClaim.Detail" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Second tier of goods and services.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="prosthesis" type="OralHealthClaim.Prosthesis" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The materials and placement date of prior fixed prosthesis.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OralHealthClaim.Detail">
    <xs:annotation>
      <xs:documentation>A provider issued list of services and products provided, or to be provided, to a patient which is provided to an insurer for payment recovery.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="sequence" minOccurs="1" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation>A service line number.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>The type of product or service.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="service" minOccurs="1" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>If a grouping item then 'GROUP' otherwise it is a node therefore a code to indicate the Professional Service or Product supplied.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="quantity" minOccurs="0" maxOccurs="1" type="Quantity">
            <xs:annotation>
              <xs:documentation>The number of repetitions of a service or product.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="unitPrice" minOccurs="0" maxOccurs="1" type="Money">
            <xs:annotation>
              <xs:documentation>If the item is a node then this is the fee for the product or service, otherwise this is the total of the fees for the children of the group.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="factor" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation>A real number that represents a multiplier used in determining the overall value of services delivered and/or goods received. The concept of a Factor allows for a discount or surcharge multiplier to be applied to a monetary amount.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="points" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation>An amount that expresses the weighting (based on difficulty, cost and/or resource intensiveness) associated with the good or service delivered. The concept of Points allows for assignment of point values for services and/or goods, such that a monetary amount can be assigned to each point.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="net" minOccurs="0" maxOccurs="1" type="Money">
            <xs:annotation>
              <xs:documentation>The quantity times the unit price for an addtional service or product or charge. For example, the formula: unit Quantity * unit Price (Cost per Point) * factor Number  * points = net Amount. Quantity, factor and points are assumed to be 1 if not supplied.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="udi" minOccurs="0" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>List of Unique Device Identifiers associated with this line item.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="subDetail" type="OralHealthClaim.SubDetail" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Third tier of goods and services.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OralHealthClaim.SubDetail">
    <xs:annotation>
      <xs:documentation>A provider issued list of services and products provided, or to be provided, to a patient which is provided to an insurer for payment recovery.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="sequence" minOccurs="1" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation>A service line number.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>The type of product or service.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="service" minOccurs="1" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>The fee for an addtional service or product or charge.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="quantity" minOccurs="0" maxOccurs="1" type="Quantity">
            <xs:annotation>
              <xs:documentation>The number of repetitions of a service or product.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="unitPrice" minOccurs="0" maxOccurs="1" type="Money">
            <xs:annotation>
              <xs:documentation>The fee for an addtional service or product or charge.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="factor" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation>A real number that represents a multiplier used in determining the overall value of services delivered and/or goods received. The concept of a Factor allows for a discount or surcharge multiplier to be applied to a monetary amount.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="points" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation>An amount that expresses the weighting (based on difficulty, cost and/or resource intensiveness) associated with the good or service delivered. The concept of Points allows for assignment of point values for services and/or goods, such that a monetary amount can be assigned to each point.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="net" minOccurs="0" maxOccurs="1" type="Money">
            <xs:annotation>
              <xs:documentation>The quantity times the unit price for an addtional service or product or charge. For example, the formula: unit Quantity * unit Price (Cost per Point) * factor Number  * points = net Amount. Quantity, factor and points are assumed to be 1 if not supplied.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="udi" minOccurs="0" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>List of Unique Device Identifiers associated with this line item.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OralHealthClaim.Prosthesis">
    <xs:annotation>
      <xs:documentation>A provider issued list of services and products provided, or to be provided, to a patient which is provided to an insurer for payment recovery.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="initial" minOccurs="0" maxOccurs="1" type="boolean">
            <xs:annotation>
              <xs:documentation>Is this the initial placement of a fixed prosthesis?.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="priorDate" minOccurs="0" maxOccurs="1" type="date">
            <xs:annotation>
              <xs:documentation>Date of the initial placement.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="priorMaterial" minOccurs="0" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>Material of the prior denture or bridge prosthesis. (Oral).</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Use-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="complete">
        <xs:annotation>
          <xs:documentation>The treatment is complete and this represents a Claim for the services.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="proposed">
        <xs:annotation>
          <xs:documentation>The treatment is proposed and this represents a Pre-authorization for the services.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="exploratory">
        <xs:annotation>
          <xs:documentation>The treatment is proposed and this represents a Pre-determination for the services.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>A locally defined or otherwise resolved status.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Use">
    <xs:annotation>
      <xs:documentation>Complete, proposed, exploratory, other</xs:documentation>
      <xs:documentation>If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="Use-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
