Src/java/qdm/schema/qdm.5.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:healthit-gov:qdm:v5_6" xmlns:dt="urn:hl7-org:elm-types:r1" targetNamespace="urn:healthit-gov:qdm:v5_6" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn:hl7-org:elm-types:r1" schemaLocation="..\..\..\cql-lm\schema\elm\types.xsd"/>
	<xs:complexType name="Identifier">
		<xs:sequence>
			<xs:element name="namingSystem" type="dt:String" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="dt:String"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QDMEntity">
		<xs:sequence>
			<xs:element name="id" type="dt:String" minOccurs="0" maxOccurs="1"/>
			<xs:element name="identifier" type="Identifier" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PatientEntity">
		<xs:annotation>
			<xs:documentation>an individual receiving health care services</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMEntity">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CarePartner">
		<xs:annotation>
			<xs:documentation>a person that is related to the care of a patient, but who is not the direct target of care</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMEntity">
				<xs:sequence>
					<xs:element name="relationship" type="dt:Code" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Practitioner">
		<xs:annotation>
			<xs:documentation>a person with a formal responsibility in the provisioning of healthcare or related services</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMEntity">
				<xs:sequence>
					<xs:element name="role" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="specialty" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="qualification" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<!--xs:element name="location" type="Location" minOccurs="0" maxOccurs="1"/-->
					<!--xs:element name="organization" type="Organization" minOccurs="0" maxOccurs="unbounded"/-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Organization">
		<xs:annotation>
			<xs:documentation>a grouping of people or organizations with a common purpose</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMEntity">
				<xs:sequence>
					<xs:element name="organizationType" type="dt:Code" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Location">
		<xs:annotation>
			<xs:documentation>a physical place where services are provided and resources with which a practitioner or organization may be associated</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMEntity">
				<xs:sequence>
					<xs:element name="locationType" type="dt:Code" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QDMBaseType">
		<xs:sequence>
			<xs:element name="id" type="dt:String" minOccurs="1" maxOccurs="1"/>
			<xs:element name="code" type="dt:Code" minOccurs="1" maxOccurs="1"/>
			<xs:element name="patientId" type="dt:String" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Ratio">
		<xs:annotation>
			<xs:documentation>
				The Ratio type is used to represent a ratio of two quantities.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numerator" type="dt:Quantity" minOccurs="1" maxOccurs="1"/>
			<xs:element name="denominator" type="dt:Quantity" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Component">
		<xs:annotation>
			<xs:documentation>
				This attribute type is new to QDM 5.0. It represents a component of a panel
				or other compound object.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="dt:Code" minOccurs="1" maxOccurs="1"/>
			<xs:element name="result" type="dt:Any" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiagnosisComponent">
		<xs:annotation>
			<xs:documentation>Coded diagnoses/problems addressed during the encounter.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="dt:Code" minOccurs="1" maxOccurs="1"/>
			<xs:element name="presentOnAdmissionIndicator" type="dt:Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="rank" type="dt:Integer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FacilityLocation">
		<xs:annotation>
			<xs:documentation>
				This attribute type is new to QDM 5.0. It represents a facility location and is
				used to capture location information for an encounter
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="dt:Code" minOccurs="1" maxOccurs="1"/>
			<xs:element name="locationPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelatedPerson">
		<xs:annotation>
			<xs:documentation>A person who has a personal or non-healthcare-specific professional relationship to the patient.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="identifier" type="Identifier" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PatientCharacteristic">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this datatype 
				should document a characteristic of the patient not 
				represented by one of the more specific Individual Characteristic datatypes.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PatientCharacteristicBirthdate">
		<xs:annotation>
			<xs:documentation>
				The Patient Characteristic Birthdate data element should document the patient’s date of birth.
				Note: Patient Characteristic Birthdate is fixed to LOINC code 21112-8 (Birth date) and 
				therefore cannot be further qualified with a value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="birthDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PatientCharacteristicClinicalTrialParticipant">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this datatype should 
				document that the patient is a clinical trial participant 
				for the clinical trial indicated by the QDM category and its corresponding value set.
				Timing: The Relevant Period addresses:
					startTime – The time the clinical trial began
					stopTime – The time the clinical trial ended
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PatientCharacteristicEthnicity">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this datatype 
				should document that the patient has one or more of the 
				ethnicities indicated by the QDM category and its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PatientCharacteristicExpired">
		<xs:annotation>
			<xs:documentation>
				The Patient Characteristic Expired data element should document that the patient is deceased.
				Note: Patient Characteristic Expired is fixed to SNOMED-CT® code 419099009 (Dead) and 
				therefore cannot be further qualified with a value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="expiredDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="cause" type="dt:Code" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PatientCharacteristicPayer">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this datatype should 
				document that the patient has one or more of the payers 
				indicated by the QDM category and its corresponding value set.
				Timing: The Relevant Period addresses:
					startTime – The first day of insurance coverage with the referenced payer
					stopTime – The last day of insurance coverage with the referenced payer
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PatientCharacteristicRace">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this datatype should document the patient’s race.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PatientCharacteristicSex">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this datatype should 
				document that the patient's sex matches the QDM category and its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PatientCareExperience">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet this criterion indicate the
				patient’s care experience, usually measured with a
				validated survey
				tool. The most common tool is the
				Consumer Assessment of Healthcare
				Providers and Systems.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="recorder" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProviderCareExperience">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet this criterion indicate the provider's
				experience with availability of resources (e.g., scheduling,
				equipment, space, and such consumables as medications).
				Provider care experience gauges provider satisfaction with key
				structures, processes, and outcomes in the healthcare delivery system.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="recorder" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AdverseEvent">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet this criterion typically define any untoward medical occurrence associated
        with the delivery of clinical care, whether or not considered drug related.
				Timing: The Relevant Datetime references the time when the event occurred.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="severity" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="facilityLocation" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="recorder" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AllergyIntolerance">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet this criterion address immune-mediated reactions to a 
				substance such as type 1 hypersensitivity reactions, other allergy-like reactions, 
				including pseudo-allergy.
				Timing: The Prevalence Period references the time from the onset date to the abatement date.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="prevalencePeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="type" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="severity" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="recorder" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssessmentPerformed">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this datatype should 
				document completion of the assessment indicated by the QDM category and its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="method" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="result" type="dt:Any" minOccurs="0" maxOccurs="1"/>
					<xs:element name="interpretation" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="component" type="Component" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="relatedTo" type="dt:String" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="performer" type="QDMEntity" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="relevantDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssessmentRecommended">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet this criteria using this datatype should document 
				a recommendation for a request by a clinician or appropriately licensed 
				care provider to a patient or an appropriate provider or organization to 
				perform an assessment indicated by the QDM category and its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssessmentOrder">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet these criteria using this datatype should document
				an order by a clinician or appropriately licensed care provider to a patient
				or an appropriate provider or organization to perform an assessment indicated
				by the QDM category and its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CareGoal">
		<xs:annotation>
			<xs:documentation>
				Unlike other QDM datatypes, the Care Goal datatype
				does not indicate a specific context of use. Instead, to meet this
				criterion, there must be documentation of a care goal as defined by
				the Care Goal QDM category and its corresponding value set.
				Timing: The Relevant Period references the period between:
					startTime – when the goal is recorded, and therefore should be considered effective,
					stopTime – when the target outcome is expected to be met
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="statusDate" type="dt:Date" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relatedTo" type="dt:String" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="targetOutcome" type="dt:Any" minOccurs="0" maxOccurs="1"/>
					<xs:element name="performer" type="QDMEntity" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommunicationPerformed">
		<xs:annotation>
			<xs:documentation>
				To meet criteria using this datatype, the communication indicated by the Communication QDM
				category is a conveyance of information from one entity (e.g., person, organization, or device)
				to another.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="category" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="medium" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="sender" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
					<xs:element name="recipient" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
					<xs:element name="sentDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="receivedDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relatedTo" type="dt:String" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeviceApplied">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document that the device indicated by the QDM
				category and its corresponding value set is in use, or impacts or
				alters the treatment, care plan, or encounter (e.g., an
				antithrombotic device has been placed on the patient's legs to
				prevent thromboembolism, or a cardiac pacemaker is in place).
				Timing: The Relevant Period addresses:
					startTime – When the device is inserted or first used
					stopTime – when the device is removed or last used
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="anatomicalLocationSite" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="performer" type="QDMEntity" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeviceOrder">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document an order for the device indicated by the
				QDM category and its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeviceRecommended">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				recommendation to use the device indicated
				by the QDM category and
				its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Diagnosis">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document the Condition/Diagnosis/Problem and its
				corresponding value set. The onset datetime corresponds to the
				implicit start datetime of the datatype and the abatement datetime
				corresponds to the implicit stop datetime of the datatype. If the
				abatement datetime is null, then the diagnosis is considered to
				still be active. When this datatype is used with timing
				relationships, the criterion is looking for an active diagnosis for
				the time frame indicated by the timing relationships.
				Timing: The Prevalence Period references the time from the onset date to the abatement date.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="prevalencePeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="anatomicalLocationSite" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="severity" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="recorder" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DiagnosticStudyOrder">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				request by a clinician or appropriately
				licensed care provider to an
				appropriate provider or organization to
				perform the diagnostic study
				indicated by the QDM category and its
				corresponding value set. The
				request may be in the form of a
				consultation or a direct order to
				the organization that performs the
				diagnostic study. Diagnostic
				studies are those that are not performed
				in the clinical laboratory.
				Such studies include but are not limited
				to imaging studies,
				cardiology studies (electrocardiogram, treadmill
				stress testing),
				pulmonary function testing, vascular laboratory
				testing, and others.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DiagnosticStudyPerformed">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document the
				completion of the diagnostic study
				indicated by the QDM category and
				its corresponding value set.
				Timing: The Relevant Period addresses:
					startTime – When the diagnostic study is initiated
					stopTime – when the diagnostic study is completed
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="result" type="dt:Any" minOccurs="0" maxOccurs="1"/>
					<xs:element name="resultDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="interpretation" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="status" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="method" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="facilityLocation" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="component" type="Component" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="performer" type="QDMEntity" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="relatedTo" type="dt:String" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DiagnosticStudyRecommended">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				recommendation for a request by a
				clinician or appropriately
				licensed care provider to an appropriate
				provider or organization to
				perform the diagnostic study indicated by
				the QDM category and its
				corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EncounterOrder">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document
				that an order for the encounter indicated by
				the QDM category and
				its corresponding value set has been
				recommended.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="facilityLocation" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
					<xs:element name="priority" type="dt:Code" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EncounterPerformed">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document that the encounter indicated by the QDM
				category and its corresponding value set has been completed.
				Timing: The Relevant Period addresses:
					startTime – The time the encounter began (admission time)
					stopTime – The time the encounter ended (discharge time)
				Timing: The Location Period addresses:
					startTime – The time the patient arrived at the location (Facility Location Arrival time)
					stopTime – The time the patient departed the location (Facility Location Departure time)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="admissionSource" type="dt:Code" minOccurs="1"/>
					<xs:element name="class" type="dt:Code"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="dischargeDisposition" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="diagnoses" type="DiagnosisComponent" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="facilityLocation" type="FacilityLocation" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lengthOfStay" type="dt:Quantity" minOccurs="0" maxOccurs="1"/>
					<xs:element name="participant" type="QDMEntity" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="priority" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relatedTo" type="dt:String" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EncounterRecommended">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document
				that the encounter indicated by the QDM
				category and its
				corresponding value set has been recommended.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="facilityLocation" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FamilyHistory">
		<xs:annotation>
			<xs:documentation>
				To meet criteria using this datatype, the
				diagnosis/problem indicated by the FamilyHistory QDM category and
				its corresponding value set should reflect a diagnosis/problem of a
				family member. When used in timing relationships, the recorded
				datetime acts as both the implicit start datetime and implicit stop
				datetime.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relationship" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="recorder" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImmunizationAdministered">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document
				that the vaccine indicated by the QDM
				category and its corresponding
				value set was actually administered to
				the patient.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="dosage" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="route" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="performer" type="QDMEntity" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImmunizationOrder">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				request for the immunization indicated by
				the QDM category and its
				corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="activeDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="dosage" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="route" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InterventionOrder">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				request to perform the intervention
				indicated by the QDM category
				and its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InterventionPerformed">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document the
				completion of the intervention indicated
				by the QDM category and its
				corresponding value set.
				Timing: The Relevant Period addresses:
					startTime – The time the intervention begins
					stopTime – The time the intervention ends
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="result" type="dt:Any" minOccurs="0" maxOccurs="1"/>
					<xs:element name="status" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="performer" type="QDMEntity" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="relatedTo" type="dt:String" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InterventionRecommended">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				recommendation for the intervention
				indicated by the QDM category
				and its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LaboratoryTestOrder">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				request for the laboratory test indicated
				by the QDM category and
				its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LaboratoryTestPerformed">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document the
				laboratory test indicated by the QDM
				category and its corresponding
				value set was performed.
				Timing: The Relevant Period addresses:
					startTime – When the laboratory test is initiated (i.e., the time the specimen collection begins)
					stopTime – when the laboratory test is completed (i.e., the time the specimen collection ends)
				Note – the time that the result report is available is a separate 
				attribute than the time of the study (specimen collection)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="status" type="dt:Code" minOccurs="0"/>
					<xs:element name="method" type="dt:Code" minOccurs="0"/>
					<xs:element name="result" type="dt:Any" minOccurs="0"/>
					<xs:element name="resultDatetime" type="dt:DateTime" minOccurs="0"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0"/>
					<xs:element name="referenceRange" type="dt:QuantityInterval" minOccurs="0"/>
					<xs:element name="interpretation" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="component" type="Component" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="performer" type="QDMEntity" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="relatedTo" type="dt:String" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LaboratoryTestRecommended">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				recommendation for the laboratory test
				indicated by the QDM category
				and its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MedicationActive">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document
				that the medication indicated by the QDM
				category and its
				corresponding value set is being taken by the
				patient. Keep in mind
				that when this datatype is used with timing
				relationships, the
				criterion is looking for a medication being taken
				for the time frame
				indicated by the timing relationships.
				Timing: The Relevant Period addresses:
					startTime - when the medication is first known to be used (generally the time of entry on the medication list); 
					stopTime - when the medication is discontinued (generally the time discontinuation is recorded on the medication list)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="relevantDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="dosage" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="frequency" type="dt:Code" minOccurs="0"/>
					<xs:element name="route" type="dt:Code" minOccurs="0"/>
					<xs:element name="recorder" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MedicationAdministered">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document
				that the medication indicated by the QDM
				category and its
				corresponding value set was actually administered to
				the patient.
				Timing: The Relevant Period addresses:
					startTime - when a single medication administration event starts (e.g., the initiation of an intravenous infusion, or administering a pill or IM injection to a patient); 
					stopTime - when a single medication administration event ends (e.g., the end time of the intravenous infusion, or the administration of a pill or IM injection is completed - for pills and IM injections, the start and stop times are the same) 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="dosage" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="frequency" type="dt:Code" minOccurs="0"/>
					<xs:element name="route" type="dt:Code" minOccurs="0"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="performer" type="QDMEntity" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MedicationDischarge">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document
				that the medications indicated by the QDM
				category and its
				corresponding value set should be taken by or given
				to the patient
				after being discharged from an inpatient encounter.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="refills" type="xs:integer" minOccurs="0"/>
					<xs:element name="dosage" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="supply" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="frequency" type="dt:Code" minOccurs="0"/>
					<xs:element name="daysSupplied" type="dt:Integer" minOccurs="0" maxOccurs="1"/>
					<xs:element name="route" type="dt:Code" minOccurs="0"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="prescriber" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
					<xs:element name="recorder" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MedicationDispensed">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document
				that a prescription for the medication
				indicated by the QDM category
				and its corresponding value set has
				been dispensed and provided to
				the patient or patient proxy. In the
				ambulatory setting, medications
				are primarily taken directly by
				patients and not directly observed.
				Hence, dispensed is the closest
				health provider documentation of
				medication compliance. In settings
				where patients attest to taking
				medications in electronic format
				(perhaps a Personal Health Record),
				patient attestation of
				“medication taken” may be available.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="refills" type="xs:integer" minOccurs="0"/>
					<xs:element name="dosage" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="supply" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="frequency" type="dt:Code" minOccurs="0"/>
					<xs:element name="daysSupplied" type="dt:Integer" minOccurs="0" maxOccurs="1"/>
					<xs:element name="route" type="dt:Code" minOccurs="0"/>
					<xs:element name="prescriber" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
					<xs:element name="dispenser" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relatedTo" type="dt:String" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MedicationOrder">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				request to a pharmacy to provide the
				medication indicated by the QDM
				category and its corresponding value
				set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="refills" type="xs:integer" minOccurs="0"/>
					<xs:element name="dosage" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="supply" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="frequency" type="dt:Code" minOccurs="0"/>
					<xs:element name="daysSupplied" type="dt:Integer" minOccurs="0" maxOccurs="1"/>
					<xs:element name="route" type="dt:Code" minOccurs="0"/>
					<xs:element name="setting" type="dt:Code" minOccurs="0"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0"/>
					<xs:element name="prescriber" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relatedTo" type="dt:String" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Participation">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				data type should document the type of plan or
				program in which the patient is expected to be
				enrolled. The program is identified as the Issuer
				(e.g. Aetna, BCBSA, Cigna, etc.). The code
				attribute indicates the coverage type indicating
				the program in which the subject of record
				participates (e.g. health insurance plan policy,
				disease specific policy, health maintenance
				organization policy, etc.)
				
				Timing: Participation Period addresses:
				enrollmentStartdate - The time the patient
				enrolled in the program
				enrollmentEnddate - The time the patient's
				enrollment in the program ends
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="participationPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="recorder" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhysicalExamOrder">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				request for the physical exam indicated by
				the QDM category and its
				corresponding value set. The datatype is
				expected to be used to
				identify orders such as "vital signs,
				frequency every x hours,” or
				"pedal pulse check, frequency every 15
				minutes for x hours."
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0"/>
					<xs:element name="anatomicalLocationSite" type="dt:Code" minOccurs="0"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhysicalExamPerformed">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document the
				completion of the physical exam
				indicated by the QDM category and
				its corresponding value set.
				Timing: The Relevant Period addresses:
					startTime – The time the physical examination activity begins
					stopTime – The time the physical examination activity ends	
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0"/>
					<xs:element name="method" type="dt:Code" minOccurs="0"/>
					<xs:element name="result" type="dt:Any" minOccurs="0"/>
					<xs:element name="anatomicalLocationSite" type="dt:Code" minOccurs="0"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="component" type="Component" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="performer" type="QDMEntity" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="relatedTo" type="dt:String" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhysicalExamRecommended">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				recommendation for the physical exam
				indicated by the QDM category
				and its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0"/>
					<xs:element name="anatomicalLocationSite" type="dt:Code" minOccurs="0"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcedureOrder">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				request for the procedure indicated by the
				QDM category and its
				corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0"/>
					<xs:element name="anatomicalLocationSite" type="dt:Code" minOccurs="0"/>
					<xs:element name="rank" type="dt:Integer" minOccurs="0"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
					<xs:element name="priority" type="dt:Code" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcedurePerformed">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document the
				completion of the procedure indicated by
				the QDM category and its
				corresponding value set.
				Timing: The Relevant Period addresses:
					startTime - the time the procedure begins; 
					stopTime - the time the procedure is completed 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0"/>
					<xs:element name="method" type="dt:Code" minOccurs="0"/>
					<xs:element name="result" type="dt:Any" minOccurs="0"/>
					<xs:element name="status" type="dt:Code" minOccurs="0"/>
					<xs:element name="anatomicalLocationSite" type="dt:Code" minOccurs="0"/>
					<xs:element name="rank" type="dt:Integer" minOccurs="0"/>
					<xs:element name="incisionDatetime" type="dt:DateTime" minOccurs="0"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="component" type="Component" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="performer" type="QDMEntity" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="priority" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relatedTo" type="dt:String" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcedureRecommended">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document the
				recommendation for the procedure
				indicated by the QDM category and
				its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0"/>
					<xs:element name="anatomicalLocationSite" type="dt:Code" minOccurs="0"/>
					<xs:element name="rank" type="dt:Integer" minOccurs="0"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SubstanceAdministered">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document
				that the substance indicated by the QDM
				category and its
				corresponding value set was actually given to the
				patient.
				Timing: The Relevant Period addresses:
					startTime - when a single substance administration event starts 
						(e.g., the initiation of an intravenous infusion, or administering a the 
						substance orally or topically to a patient); 
					stopTime - when a single substance administration event ends 
						(e.g., the end time of the intravenous infusion, or the administration 
						of a substance orally or topically is completed - for oral or topical 
						administration, the start and stop times are the same)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="dosage" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="frequency" type="dt:Code" minOccurs="0"/>
					<xs:element name="route" type="dt:Code" minOccurs="0"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="performer" type="QDMEntity" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SubstanceOrder">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				request for the substance indicated by the
				QDM category and its
				corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevantPeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0"/>
					<xs:element name="dosage" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="supply" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="frequency" type="dt:Code" minOccurs="0"/>
					<xs:element name="refills" type="xs:integer" minOccurs="0"/>
					<xs:element name="route" type="dt:Code" minOccurs="0"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SubstanceRecommended">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document a
				recommendation for the substance indicated
				by the QDM category and
				its corresponding value set.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="authorDatetime" type="dt:DateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="reason" type="dt:Code" minOccurs="0"/>
					<xs:element name="dosage" type="dt:Quantity" minOccurs="0"/>
					<xs:element name="frequency" type="dt:Code" minOccurs="0"/>
					<xs:element name="refills" type="xs:integer" minOccurs="0"/>
					<xs:element name="route" type="dt:Code" minOccurs="0"/>
					<xs:element name="negationRationale" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="requester" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Symptom">
		<xs:annotation>
			<xs:documentation>
				Data elements that meet criteria using this
				datatype should document the symptom and its corresponding value set.
				The onset datetime corresponds to the implicit start datetime of the
				datatype and the abatement datetime corresponds to the implicit stop
				datetime of the datatype. If the abatement datetime is null, then the
				symptom is considered to still be active. When this datatype is used
				with timing relationships, the criterion is looking for whether the
				symptom was active for the time frame indicated by the timing
				relationships.
				Timing: The Prevalence Period references the time from the onset date to the abatement date
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="QDMBaseType">
				<xs:sequence>
					<xs:element name="prevalencePeriod" type="dt:DateTimeInterval" minOccurs="0" maxOccurs="1"/>
					<xs:element name="severity" type="dt:Code" minOccurs="0" maxOccurs="1"/>
					<xs:element name="recorder" type="QDMEntity" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
